@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;

    line-height: 2.5em;
    
    background-image: url("../images/trees.png")
}

.our-content{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    max-width: 600px;
    margin:auto;
    line-height: 2.5em;
    padding-top: 20px;
    padding-bottom: 71px;
}

.banner {
    background-image: url("../images/Capture3.png") no-repeat;
}

button:hover{
    background-color: orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
      background-color: orange;
  }
